:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: darkcyan;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFFFFF;
}

.viewer-controls {

}
