:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
  overflow-y: scroll;
  padding: 2rem;
  gap: 1rem;
}

.document-page {

}

.annotation {
  position: relative;
  z-index: 99;
  background-color: yellow;
  opacity: 75%;
  padding: 8px;
}
