<div class="new-annotation hidden" #newAnnotation>
  <span class="annotation-close-button" (click)="handleHideNewAnnotation($event)">X</span>
  <div class="buttons">
    <button (click)="handleAddNewTextAnnotation($event)">Text</button>
    <button (click)="handleAddNewImageAnnotation($event)">Image</button>
  </div>
</div>
<div class="new-annotation hidden" #newTextAnnotation>
  <span class="annotation-close-button" (click)="handleHideNewTextAnnotation($event)">X</span>
  <textarea
    placeholder="Type here..."
    [(ngModel)]="newAnnotationText"
    (keydown.enter)="handleSaveAnnotationAsText()"
  ></textarea>
</div>
<div class="new-annotation hidden" #newImageAnnotation>
  <span class="annotation-close-button" (click)="handleHideNewImageAnnotation($event)">X</span>
  <input type="file" accept=".jpg, .png, .jpeg|image/*" (change)="handleImageUpload($event)">
</div>
<div
  class="document-page"
  *ngFor="let page of document?.pages; let p = index"
  [id]="'page-' + p"
  (click)="handleAddAnnotation($event, p)"
>
  <div
    *ngFor="let annotation of page?.annotations; let a = index"
    class="annotation"
    [ngStyle]="calculateAnnotationNgStyle(annotation)"
    (mousedown)="handleAnnotationDrag($event, p, a)"
    (click)="emptyHandler($event)"
  >
    <span class="annotation-close-button" (click)="handleRemoveAnnotation($event, p, a)">X</span>
    <div class="annotation-content" *ngIf="annotation.type === 'text'">
      {{ annotation.content }}
    </div>
    <img
      class="annotation-content"
      *ngIf="annotation.type === 'image'"
      [src]="annotation.content"
      alt="annotation image"
    />
  </div>
  <img [src]="page.imageUrl" [alt]="'Page ' + (p + 1)" />
</div>
