:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
  overflow-y: scroll;
  padding: 2rem;
  gap: 1rem;
}

.document-page {

}

.annotation {
  position: relative;
  z-index: 99;
  background-color: yellow;
  opacity: 75%;
  padding: 8px;
  cursor: grab;
  user-select: none;

  &:active {
    cursor: grabbing;
  }

  textarea {
    width: 98%;
    max-width: 98%;
  }

  .save-image {
    margin-top: 8px;
  }

  img {
    display: block;
    height: 96%;
  }
}

.annotation-close-button {
  display: inline-block;
  position: relative;
  z-index: 99;
  background-color: #000000;
  color: #FFFFFF;
  top: -24px;
  left: -24px;
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.annotation-content {
  margin-top: -16px;
}
